<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906683470583-5teca07alr6dfp47ipvrjl90h9u4pahr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906683470583-5teca07alr6dfp47ipvrjl90h9u4pahr</string>
	<key>API_KEY</key>
	<string>AIzaSyAlLZN24Lqv69WGwbAgIJnMV_gvFD9rhCE</string>
	<key>GCM_SENDER_ID</key>
	<string>906683470583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.citigoods.citigoods</string>
	<key>PROJECT_ID</key>
	<string>citigoods</string>
	<key>STORAGE_BUCKET</key>
	<string>citigoods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906683470583:ios:4681b5ad026e38f1</string>
	<key>DATABASE_URL</key>
	<string>https://citigoods.firebaseio.com</string>
</dict>
</plist>